@model Project.Net.Models.DataModel.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div>
                <h4>Category</h4>
                <hr />
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Update_at)
                        </th>
                       
                    </tr>

                    
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.CategoryName)
                            </td>
                            <td>
                                <img src="@Model.Image" alt="Alternate Text" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderBy)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Update_at)
                            </td>
                           
                        </tr>
                    

                </table>
                
            </div>
        </div>
        <!-- /.box-body -->
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <!-- /.box-footer-->
    </div>


